<section id="contact">
    
      <div class="contact-section">
          <div class="ear-piece">
              <img class="img-responsive" src="" alt="" />
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-sm-3 col-sm-offset-4">
                      <div class="contact-text">
                          <h3>Contact</h3>
                          <address>
                              E-mail: promo@party.com
                              <br />
                              Phone: +1 (123) 456 7890
                              <br />
                              Fax: +1 (123) 456 7891
                          </address>
                      </div>
                      <div class="contact-address">
                          <h3>Contact</h3>
                          <address>
                              Unit C2, St.Vincent's Trading Est.,
                              <br />
                              Feeder Road,
                              <br />
                              Bristol, BS2 0UY
                              <br />
                              United Kingdom
                          </address>
                      </div>
                  </div>
                  <div class="col-sm-5">
                     
                  </div>
              </div>
          </div>
      </div>
  </section>
