<div class="container">
    <div class="new-movie-border">
        <div class="header-background">
            <span>ADD MOVIE</span>
        </div>
        <form #form="ngForm" (ngSubmit)="newMovieSubmitHandler(form)">

            <div class="new-movie-title">
                <label for="title">Title:<span class="red"></span></label>
                <input 
                type="text" 
                name="title" 
                id="title" 
                ngModel #inputName="ngModel" 
                required
                minlength="3" />

                <ng-container *ngIf="inputName.touched">
                    <p class="error" *ngIf="inputName.errors?.['required']">
                        Movie name is required.
                    </p>
                    <p class="error" *ngIf="inputName.errors?.['minlength']">
                        Movie name must be at least 3 characters long.
                    </p>
                </ng-container>
            </div>

            <div class="new-movie-genre">
                <label for="genre">Genre:<span class="red"></span></label>
                <input 
                type="text" 
                name="genre" 
                id="genre" 
                ngModel #inputName="ngModel" 
                required
                minlength="3" />

                <ng-container *ngIf="inputName.touched">
                    <p class="error" *ngIf="inputName.errors?.['required']">
                        Movie Genre is required.
                    </p>
                    <p class="error" *ngIf="inputName.errors?.['minlength']">
                        Movie Genre must be at least 3 characters long.
                    </p>
                </ng-container>
            </div>

            <div class="new-movie-img">
                <label for="imageUrl">ImgUrl:<span class="red"></span></label>
                <input 
                type="text" 
                name="imageUrl" 
                id="imageUrl" 
                ngModel #inputName="ngModel" 
                required />

                <ng-container *ngIf="inputName.touched">
                    <p class="error" *ngIf="inputName.errors?.['required']">
                        ImgUrl is required.
                    </p>

                </ng-container>
            </div>

            <div class="new-movie-year">
                <label for="release_year">Year:<span class="red"></span></label>
                <input 
                type="text" 
                name="release_year" 
                id="release_year" 
                ngModel #inputName="ngModel" 
                required />

                <ng-container *ngIf="inputName.touched">
                    <p class="error" *ngIf="inputName.errors?.['required']">
                        Year is required.
                    </p>

                </ng-container>
            </div>



            <div class="new-movie-buttons">
                <button class="public" [disabled]="form.invalid">Post</button>
            </div>

        </form>
    </div>
</div>