<div id="header">
    <h1 id="logo"><a href="#">MovieHunter</a></h1>
    <div class="social">
        <span>FOLLOW US ON:</span>
        <ul>
            <li><a class="twitter" href="#">twitter</a></li>
            <li><a class="facebook" href="#">facebook</a></li>
            <li><a class="vimeo" href="#">vimeo</a></li>
            <li><a class="rss" href="#">rss</a></li>
        </ul>
    </div>
    <div id="navigation">
        <ul>
            <li><a class="active" routerLink="/login">LOGIN</a></li>
            <li><a routerLink="/register">REGISTER</a></li>
            <li><a routerLink="/logout">LOGOUT</a></li>
            <li><a routerLink="/profile">PROFILE</a></li>
            <!--<li><a href="#">COMING SOON</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">ADVERTISE</a></li> -->
        </ul>
    </div>
    <div id="sub-navigation">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">CATALOGUE</a></li>
            <li><a href="#">ADD MOVIE</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACTS</a></li>
        </ul>
        <div id="search">
            <form action="#" method="get" accept-charset="utf-8">
                <label for="search-field">SEARCH</label>
                <input type="text" name="search field" value="Enter search here" id="search-field"
                    class="blink search-field" />
                <input type="submit" value="GO!" class="search-button" />
            </form>
        </div>
    </div>
</div>