<div className="login-form-container">
    <section className="login-form-container">
        <form id="login" method="POST" onSubmit={onSubmit}>
            <h3>Login</h3>
            <label>Email</label>
            <input
                type="email"
                id="email"
                placeholder="mnbv@abv.bg"
                name={LoginFormKeys.Email}
                value={values[LoginFormKeys.Email]}
                onChange={changeHandler}
                className="box"
            />
            <label>Password</label>
            <input
                type="password"
                id="password"
                name={LoginFormKeys.Password}
                value={values[LoginFormKeys.Password]}
                onChange={changeHandler}
                className="box"
            />
            <input type="submit"  className="btn" value="Login" />
            <p>
                Don't have an account ? <a> to="/register">Create one</a>
            </p>
        </form>
    </section>

</div>
