<div id="content">
    <div class="box">
        <!--<div class="head">
          <h2>LATEST TRAILERS</h2>
          <p class="text-right"><a href="#">See all</a></p>
        </div>-->

        <div class="movie">
            <div class="movie-image">
                <img src={{movie?.imageUrl}} alt="movie-image" />
            </div>
            <div class="rating">
                <!--<p>{{movie?.title}}</p>
               <div class="stars">
                      <div class="stars-in"> </div>
                  </div>-->
                <span class="comments">{{movie?.release_year}}</span>
                
            </div>
            <div class="rating">
                <span class="comments">{{movie?.title}}</span>
            </div>
            <div class="rating">
                <span class="comments">{{movie?.genre}}</span>
            </div>
            
            <div class=buttons *ngIf="isLogged" >
                <button class="btn-edit">Edit</button>
                <button class="btn-delete">Delete</button>
            </div>
        </div>

        <div class="cl">&nbsp;</div>
    </div>
</div>